@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bevan", serif;
  src: url("/fonts/Bevan/Bevan-Regular.ttf");
}

.wrapper {
  max-width: 100%;
  overflow: hidden;
  max-height: 40px;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 40s linear infinite;
}

.marqueeleft {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee-ltr 80s linear infinite;
}

.marquee p {
  display: inline-block;
}

.marqueeleft p {
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes marquee-ltr {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(-25%, 0, 0);
  }
}
